body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

h3 {
    margin: 3px auto;
}

hr {
    background-color: lightgray;
    border: none;
    height: 1px;
    width: 50%;
}

div[data-status="correct"] {
    background-color: rgb(86, 157, 86);
}

div[data-status="present"] {
    background-color: rgb(203, 183, 70);
}

div[data-status="wrong"] {
    background-color: rgb(150, 143, 143);
}

#game-app {
    text-align: center;
}

#header {
    margin-top: -15px;
    margin-bottom: 30px; 
    top: 0;
}

#game-board {
    display: grid;
    margin: 30px auto;
}

.modal {
    margin: 10px auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: rgb(28, 26, 26);
    border-radius: 5px;
    width: 30%;
    padding: 5px;
    display: none;
}

.modal-text {
    color: white;
    font-weight: 400;
}

.game-row {
    margin: 5px auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: 50px;
    gap: 10px;
}

.game-tile {
    border: 2px solid lightgray;
    font-size: xx-large;
    font-weight: 600;
    height: 50px;
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.game-tile[data-letter]:not([data-letter=""]) {
    border: 2px solid rgb(121, 116, 116);
}

.game-tile[data-status]:not([data-status=""]) {
    border: 2px solid transparent;
    color: white;
}

.game-tile[data-animation="pop"] {
    animation: pop .1s forwards;
}

@keyframes pop {
    0% {
       transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

.game-tile[data-animation="flip"] {
    animation: flip .6s;
    animation-timing-function: linear;
}

.tile-letter[data-animation="flip"] {
    animation: flip .6s;
    animation-timing-function: linear;
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(180deg);
    }
}

.game-tile[data-animation="jump"] {
    animation: jump .4s;
    animation-timing-function: linear;
}

.game-tile[data-animation="jump"]:nth-child(2) {
    animation-delay: 80ms;
}

.game-tile[data-animation="jump"]:nth-child(3) {
    animation-delay: 40ms;
}

.game-tile[data-animation="jump"]:nth-child(4) {
    animation-delay: 100ms;
}

.game-tile[data-animation="jump"]:nth-child(5) {
    animation-delay: 5ms;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-9%);
    }
    100% {
        transform: translateY(0);
    }
}

.game-row[data-animation="shake"] {
    animation: shake .1s forwards;
    position: relative;
}

@keyframes shake {
    0% {
        left: 0%;
    }
    25% {
        left: 1%;
    }
    75% {
        left: -1%;
    }
    100% {
        left: 0%;
    }
}

.key {
    background-color: lightgray;
    border-radius: 5px;
    font-size: medium;
    font-weight: 550;
    height: 60px;
    width: 50px;
    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-row {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
}

.bottom-row > .key:nth-of-type(1) {
    flex: 1.5;
}

.bottom-row > .key:nth-of-type(9) {
    flex: 1.5;
}